# LOOP INSIDE LOOP

In [2]:
for left in range(7):
    for right in range(left, 7):
        print("[" + str(left) + "|" + str(right) + "]", end = " ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [6]:
teams = ['Rio', 'Wolver', 'Pandas', 'Unicorn']
for home_team in teams:
    for away_team in teams:
        if home_team != away_team:
            print(home_team + " vs " + away_team)

Rio vs Wolver
Rio vs Pandas
Rio vs Unicorn
Wolver vs Rio
Wolver vs Pandas
Wolver vs Unicorn
Pandas vs Rio
Pandas vs Wolver
Pandas vs Unicorn
Unicorn vs Rio
Unicorn vs Wolver
Unicorn vs Pandas

In [11]:
# Error common mistake
'''
for x in 25:
    print(x)
'''

# Solve this use range
for x in range(5):
    print(x)

print("-----")

# if u use list, so it will be only print 5. Cause tere only 1 element in list that 5
for x in [5]:
    print(x)

0
1
2
3
4
-----
5

In [12]:
def greet_friends(friends):
    for friend in friends:
        print("Hi " + friend)

greet_friends(["Rio", "Bastian", "Jane", "John", "Other"])
greet_friends("RIO BASTIAN")

Hi Rio
Hi Bastian
Hi Jane
Hi John
Hi Other
Hi R
Hi I
Hi O
Hi
Hi B
Hi A
Hi S
Hi T
Hi I
Hi A
Hi N

In [ ]:
# This loop iterates on the value of the "number" variable in a range
# of 1 to 6+1 (the upper range limit of 6 is excluded, so +1 has
# been added to it to include 6 in the range). The incremental value
# for the loop is 2 (number+2). The print() function will output the
# resulting value of "number" multiplied by 3.


for number in range(1,6+1,2):
    print(number*3)


# The loop should print 3, 9, 15

In [ ]:
# This loop iterates on the value of the "number" variable in a range
# of 2 to 7 (the upper range limit of 8 is excluded). The print() 
# function will output the resulting value of "number" squared.


for number in range(2,8):
    print(number**2)


# The loop should print 4, 9, 16, 25, 36, 49

In [ ]:
for x in sequence:
    # start of the outer loop body
    for y in sequence:
        # start of the inner loop body

        # end of of the inner loop body
    # continue body of the outer loop
    # end of the outer loop body

In [ ]:
# This code demonstrates the outer and inner loop iterations of a pair 
# of nested for loops. Click "Run" to see the results. The outer loop
# will run twice for the range pointer positions [0, 1] in range(2).
# The inner loop will run 4 times for the range pointer positions 
# [0, 1, 2, 3] in range(3+1) or range(4) each time the outer loop runs.
# So, the inner loop will execute 8 times in total.


for x in range(2):
    print("This is the outer loop iteration number " + str(x))
    for y in range(3+1):
        print("Inner loop iteration number " + str(y))
    print("Exit inner loop")

In [ ]:
for x in sequence:
    # start of body of for loop
    if condition is true:
        # start of body of if-statement

        # end of body of if-statement
    # continue body of for loop
    # end of body of for loop

In [ ]:
# This for loop iterates through the numbers 0 to 6. The if statement
# uses the modulo operator to test if the "x" variable is divisible by
# 2. If True, the if statement will print the value of "x" and exit
# back into the for loop for the next iteration of "x". Since no 
# incremental value is specified in the range() parameters, the default
# increment is +1. 


for x in range(7):
    if x % 2 == 0:
        print(x)


# The loop should print 0, 2, 4, 6

In [13]:
for n in range(6,18+1,3):
    print(n*2)

12
18
24
30
36

In [14]:
for n in range(19):
    if n % 2 == 0:
        print(n)

0
2
4
6
8
10
12
14
16
18